spring:
  datasource:
    dynamic:
      hikari:
        max-lifetime: 1800000
        connection-timeout: 5000
        idle-timeout: 3600000
        max-pool-size: 12
        min-idle: 4
        connection-test-query: /**ping*/
      primary: master # 设置默认的数据源或者数据源组，默认值即为master
      strict: false # 严格匹配数据源，默认未false，true未匹配到指定数据源时即抛异常，false使用默认数据源
      datasource:
        master:
          url: jdbc:mysql://192.168.169.128:3307/rob_necessities?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimeZone=Asia/Shanghai
          username: root
          password: 123456
        slave_1:
          url: jdbc:mysql://192.168.169.128:3307/rob_necessities?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimeZone=Asia/Shanghai
          username: root
          password: 123456
# PEIZH
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除的值
      logic-not-delete-value: 0 # 逻辑未删除的值
  type-enums-package: com.example.demo.myenum